<%# <h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p> %>

<%= render "shared/header" %>

<div class="items-listing">
  <%= link_to '出品', new_top_path %>
</div>

<div class="item-contents">
  <h2 class='title'>ピックアップカテゴリー</h2>
  <%= link_to '新商品', "#", class: "subtitle" %>

  <ul class="item-lists">
  
  <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにする %>

    <li class="list">
   
    <%# トップページから購入ページへ遷移する %>
      <%= link_to '' do %>

        <div class="item-image-content">
          <%# <%= image_tag %>
         
          <%# 商品が在庫切れの場合はsold outの表記をする %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>

        </div>
      <% end %>
    </li>
    
    <%# 商品がない場合のダミー %>
    <li class="list">
      <%= link_to '#' do %>
        <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
        <div class='item-info'>
          <%# <h3 class='item-name'>
            商品を出品してね！
          </h3> %>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
          </div>  
        </div>
       <% end %>     
    </li>

    <li class="list">
      <%= link_to '#' do %>
        <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
        <div class='item-info'>
          <%# <h3 class='item-name'>
            商品を出品してね！
          </h3> %>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
          </div>  
        </div>
       <% end %>     
    </li>

    <li class="list">
      <%= link_to '#' do %>
        <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
        <div class='item-info'>
          <%# <h3 class='item-name'>
            商品を出品してね！
          </h3> %>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
          </div>  
        </div>
       <% end %>     
    </li>

    <li class="list">
      <%= link_to '#' do %>
        <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
        <div class='item-info'>
          <%# <h3 class='item-name'>
            商品を出品してね！
          </h3> %>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
          </div>  
        </div>
       <% end %>     
    </li>
    
    <li class="list">
      <%= link_to '#' do %>
        <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
        <div class='item-info'>
          <%# <h3 class='item-name'>
            商品を出品してね！
          </h3> %>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
          </div>  
        </div>
       <% end %>     
    </li>
  </ul>
</div>

<%= render "shared/footer" %>