<%= form_with url:"/top/new", method: :post, model: @item, local: true do |f| %>

<%= render "shared/header" %>

<%# 出品画像 %>
<div clss="img-upload">
  <div class="weight-bold-text">
    出品画像
    <span class="mandatory">必須</span>
  </div>
  <div class="click-upload">
    <p>クリックしてアップロード</p>
    <%= f.file_field :image, id:"item-image" %>
  </div>
</div>

<%# 商品名 %>
<div class="new-item">
  <div class="weight-bold-text">
    商品名
    <span class="mandatory">必須</span>
  </div>
  <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
</div>

<%# 商品説明 %>
<div class="item-description">
  <div class="weight-bold-text">
    商品説明
    <span class="mandatory">必須</span>
  </div>
  <%= f.text_area :description, class:"items-text", id:"item-info", placeholder:"商品の説明(1000文字まで)",rows:"7" ,maxlength:"1000" %>
</div>

<%# カテゴリー %>
<div class="item-category">
  <div class="weight-bold-text">
    カテゴリー
    <span class="mandatory">必須</span>
  </div>
</div>

<%# 価格 %>
<div class="price-content">
  <div class="price-text">
    <span>価格</span>
    <span class="indispensable">必須</span>
  </div>
  <span class="sell-yen">¥</span>
    <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）300" %>
  </div>

<%# 出品ボタン %>
<div class="sell-btn-contents">
  <%= f.submit "出品する", class:"sell-btn" %>
  <%=link_to 'もどる', root_path, class:"back-btn" %>
</div>

<% end %>

<%# <%= render "shared/footer" %>
