<div class="footer">
<div class='footer-logo'>A<span style="color: red;">D</span>VALES</div>
  <div class="advales-contents">
    
    <div class="advales-details">
      <h2 class="footer-content-head">ADVALESについて</h2>
      <ul>
        <li><%= link_to '会社概要', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'ADVALES利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>

    <div class="advales-details">
      <h2 class="footer-content-head">ADVALES</h2>
      <ul>
        <li><%= link_to 'ADVALESホームページ', "#", class: "footer-link" %></li>
        <li><%= link_to 'イトウスポーツホームページ', "#", class: "footer-link" %></li>
        <li><%= link_to 'カテゴリー', "#", class: "footer-link" %></li>
        <li><%= link_to 'ブランド', "#", class: "footer-link" %></li>
      </ul>
    </div>

    <div class="advales-details">
      <h2 class="footer-content-head">ADVALESについて</h2>
      <ul>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
</div>