<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='header-logo'>A<span style="color: red;">D</span>VALES</div>
  <div class='header-list'>
    <ul>
      <%# <li>A<span style="color: red;">D</span>VALESとは</li> %>
      <li><%= link_to 'ADVALESとは', '#', class: "advales-hp-list"%>
      <li><%= link_to 'イトウスポーツHP', '#', class: "itho-hp-list"%></li>
      <li><%= link_to 'カテゴリー', '#', class: "category-list"%></li>
      <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
      <li><%= link_to 'お問い合わせ', "#", class: "contact-list" %></li>
      
      <%# 店主しか出品できないように条件分岐を記述する %>
      <li><%= link_to '出品', "#", class: "contact-list" %></li>
    </ul>
  </div>
</header>   